<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>924524718537-je21m01tbe0ad6o37qoa780174f6jei3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.924524718537-je21m01tbe0ad6o37qoa780174f6jei3</string>
	<key>API_KEY</key>
	<string>AIzaSyC6eezhMIKFg5D_SwywXSp5wm2EL03EjJo</string>
	<key>GCM_SENDER_ID</key>
	<string>924524718537</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fahasoft.fahax</string>
	<key>PROJECT_ID</key>
	<string>fahax-139ab</string>
	<key>STORAGE_BUCKET</key>
	<string>fahax-139ab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:924524718537:ios:e465014ab0cc3663406018</string>
</dict>
</plist>